<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP8l_1Wt9BII8KRcx5qlI-aSOGNlkn48c</string>
	<key>GCM_SENDER_ID</key>
	<string>818193090892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskOneReg</string>
	<key>PROJECT_ID</key>
	<string>studentreg-833b5</string>
	<key>STORAGE_BUCKET</key>
	<string>studentreg-833b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818193090892:ios:fc062ed3c29da6753227e9</string>
	<key>DATABASE_URL</key>
	<string>https://studentreg-833b5-default-rtdb.firebaseio.com</string>
</dict>
</plist>